
# docs/* linguist-documentation
# _img/* linguist-vendored

docs/source/* linguist-documentation
docs/source/* linguist-vendored
docs/source/* linguist-language=Python


# *.ipynb linguist-language=Python

